<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_unieta"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_unieta"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniEat">
        <activity
            android:name=".view.DishDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.BannerProductsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".view.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditDishActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".view.PaymentPixActivity"
            android:exported="false" />
        <activity
            android:name=".view.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".view.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.KitchenAllOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".view.KitchenHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.KitchenMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.KitchenHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.StudentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.UniEat.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>